html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0 !important;
}

.butterLogoContainer {
    height: 70px;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 1;
}

.butterLogoContainerBottom {
    height: 70px;
    position: absolute;
    bottom: 25px;
    width: 100%;
    text-align: center;
    z-index: 1;
    background-color: transparent;
}

.butterLogoContainerBottom button {
    background-color: transparent;
}

.butterLogoContainerBottom i {
    color: #004aad;
    font-size: 3rem;
    padding: 0px 10px;
}
   


button {
    border: none;
    text-decoration: none;
    outline: none;
}

.spinnerContainer {
    height: 100%;
    background-color: #000000d9;
    position: absolute;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 5000;
}

.knife {
    
    max-width: 85px;
    margin: 0 auto;

    -webkit-animation: sk-rotateplane 1s infinite linear; 
    animation: sk-rotateplane 1s infinite linear; 

    transform: rotateY(0deg);
}


@webkit-keyframes sk-rotateplane {
    0% { 
      /* transform: rotateY(0deg); */
      -webkit-transform: rotateY(0deg) 
    } 50% { 
      /* transform: rotateY(180deg); */
      -webkit-transform: rotateY(180deg) 
    } 100% { 
      /* transform: rotateY(360deg); */
      -webkit-transform: rotateY(360deg);
    }
  }


  @keyframes sk-rotateplane {
    0% { 
      transform: rotateY(0deg);
      /* -webkit-transform: rotateY(0deg)  */
    } 50% { 
      transform: rotateY(180deg);
      /* -webkit-transform: rotateY(180deg)  */
    } 100% { 
      transform: rotateY(360deg);
      /* -webkit-transform: rotateY(360deg); */
    }
  }


.logo {
    width: 40%;
    padding-top: 10px;
    max-width: 350px;
}

.instagramLogo {
    width: 75px;
}

.emailLogo {
    margin-left: 15px;
    width: 75px;
}

.ui-loader {
    display: none !important;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {    
    .logo {
        width: 40%;
        padding-top: 10px;
        max-width: 350px;
    }
}

@media (max-width: 400px) and (min-height: 768px) {     
    .logo {
        width: 55%;
        padding-top: 15px;
        max-width: 350px;
    }
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
    .logo {
        width: 31%;
        padding-top: 15px;
        max-width: 350px;
    }

    .butterLogoContainerBottom {
        bottom: 25px;
    }

    .butterLogoContainerBottom i {
        font-size: 4.5rem;
        padding: 0px 15px;
    }
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .logo {
        width: 50%;
        padding-top: 10px;
        max-width: 350px;
    }

    .butterLogoContainerBottom {
        bottom: 25px;
    }

    .butterLogoContainerBottom i {
        font-size: 4.5rem;
        padding: 0px 15px;
    }
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    .logo {
        width: 15%;
        padding-top: 10px;
        max-width: 350px;
        position: absolute;
        left: 20px !important;
    }

    .butterLogoContainerBottom {
        bottom: 35px;
    }

    .butterLogoContainerBottom i {
        font-size: 5rem;
        padding: 0px 15px;
    }
}

@media (min-width: 1400px) {  
    .butterLogoContainerBottom {
        bottom: 5px;
    }

    .butterLogoContainerBottom i {
        font-size: 4rem;
        padding: 0px 15px;
    }
}

@media (orientation: landscape) {
    .logo {
        position: absolute;
        left: 20px !important;
        max-width: 165px !important;
    }

    .butterLogoContainerBottom i, .butterLogoContainerBottom img {
        font-size: 3rem;
        position: absolute;     
    }

    .butterLogoContainerBottom {
        bottom: 0px;
        right: 0;
    }

    .butterLogoContainerBottom .instagram {
        right: 65px;

    }

    .butterLogoContainerBottom .email {
        right: 0px;
    }

    .butterLogoContainerBottom .instagramLogo {
        right: 120px;
        bottom: 12px;
    }

    .butterLogoContainerBottom .emailLogo {
        right: 20px;
        bottom: 10px;
    }
}

@media screen and (max-width: 1000px) {
	.magazine-viewport .container {
		/* top: 43% !important; */
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
	}
}
