html, body {
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
}

.butterContainer {
    -webkit-perspective: 800;

    width: 100%;
    height: 100%;
    position: relative;

    background-image: url('../assets/background.jpg');
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.butterContainer .card {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
}

.butterContainer .card .face {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden ;
    z-index: 2; 
}

.butterContainer .card.flipped {
    -webkit-transform: rotatex(-180deg);
  }

.butterContainer .card .front {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.butterContainer .card .back {
    -webkit-transform: rotatex(-180deg);
       width: 1px;
       height: 1px;
      cursor: pointer;
  }

.logoLink {
    max-width: 500px;
    width: 80%;
}
.logo {
    width: 100%;
}
